<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>story</title>

</head>
<body>
<img src="static/soup/dining3.jpeg" alt="dining3" width="100%">

<style>
    body{
    background-color:yellow;

    }
</style>
<h6 style="color:black;font-size:25px;font-style:halic;text-align: center;"><i>This is your place to enjoy good food with the comfort and familiarity of home! This was born out of a vision to provide you a simple yet warm and comfortable dining experience! We only strive to give you the warmest of welcome and service you truly deserve! We only serve the heartiest, healthiest dishes, lovingly prepared and generously served. Being at this is being with family! so this is yours!</i>
</h6>
</body>
</html>